.App {
  margin: 0;
  height: calc(100dvh - 40px);
  color: var(--text-1);
  font-family: monospace;
  padding: 20px;
  height: 100%;
}

.dev-warning-banner {
  position: absolute;
  top: 20px;
  left: calc(50% - 655.8px/2);
  background-color: #fff3cd;
  color: #856404;
  padding: 10px 5px;
  border: 1px solid #ffeeba;
  text-align: center;
  font-weight: bold;
  border-radius: 4px;
  margin-bottom: 1.5rem;
  width: 100%;
  max-width: 655.8px;
  z-index: 3;
}

.dev-warning-banner button {
  position: absolute;
  right: 0px;
  top: 2px;
  background: none;
  border: none;
  font-size: 10px;
  cursor: pointer;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 655px) {
  .dev-warning-banner {
    left: 0;
    width: calc(100% - 10px);
  }

}

@media screen and (max-width: 1515px) {
  .App {
    height: fit-content;
  }

}