.home-left {
  height: calc(100dvh - 80px);
  width: 400px;
  background-color: var(--bg-2);
  padding: 20px 10px;
  border-radius: 32px;
  border: var(--border-1);
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: sans-serif;
}

.home-left h2 {
  margin: 0;
  padding: 0;
}

.separator {
  margin: 10px 0;
  height: 1px;
  width: 100%;
  background-color: var(--border-color-1);
}

.home-left .picture {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.home-left .picture img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border: var(--border-1);
  border-radius: 50%;
}

.home-left-detail-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.home-left .home-left-detail {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.home-left .home-left-detail svg {
  color: var(--color-1);
}

.home-left .home-left-detail span {
  font-weight: bold;
}

.home-left .home-left-detail p {
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1515px) {
  .home-left {
    height: 400px;
    width: calc(100% - 20px);
    flex-direction: row;
  }

  .separator {
    width: 1px;
    height: 100%;
  }

  .home-left .home-left-detail-container {
    flex-direction: column;
    justify-content: center;
  }
}