.home-right {
  height: calc(100dvh - 40px);
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-1);
  gap: 20px;
  font-family: sans-serif;
}

.about-project-container {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: rgba(27, 27, 27, 0.6);
  height: 100dvh;
  width: 100%;
}

.about-project-container.active {
  display: flex;
}

.about-project {
  width: 500px;
  height: 350px;
  background-color: var(--bg-2);
  border-radius: 16px;
  border: var(--border-1);
  display: flex;
  flex-direction: column;
}

.close-button-container {
  width: calc(100% - 2.5);
  height: 23px;
  padding: 5px;
  display: flex;
  justify-content: end;
}

.close-button-container button {
  background-color: var(--bg-1);
  border: var(--border-2);
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

.message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(350px - 35px);
}

.home-right-top {
  display: flex;
  width: 100%;
  height: 330px;
  gap: 20px;
}

.home-right-top .home-right-top-container {
  background-color: var(--bg-2);
  padding: 20px 10px;
  border-radius: 32px;
  border: var(--border-1);
  width: 100%;
  overflow: auto;
}

.home-right-top .highlighted-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 10px
}

.home-right-top .highlighted-projects div {
  width: calc(50% - 7px);
  height: calc(330px/2 - 62px);
  border: var(--border-1);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.home-right-bottom {
  display: flex;
  width: 100%;
  height: calc(100dvh - 390px);
  gap: 20px;
}

.home-right-bottom .home-right-bottom-container {
  background-color: var(--bg-2);
  padding: 20px 10px;
  border-radius: 32px;
  border: var(--border-1);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-right-bottom .home-right-bottom-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: auto;
  flex-direction: column;
}

.home-right-bottom .home-right-bottom-list-headers {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.home-right-bottom .home-right-bottom-list-headers div {
  display: flex;
  justify-content: center;
  width: calc(100%/3 - 20px);
  border-bottom: var(--border-1);
}

.home-right-bottom .home-right-bottom-lists-lists {
  display: flex;
  justify-content: space-between;
  overflow: auto;
}

.home-right-bottom ul {
  padding: 0;
  width: calc(100%/3 - 20px);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home-right-bottom ul li {
  list-style: none;
  padding: 10px;
  border-radius: 32px;
  font-size: 15px;
  display: flex;
  gap: 10px;
}

.home-right-bottom ul li.fav {
  background-color: var(--bg-1);
  border: var(--border-2);
}

.home-right .home-right-bottom-note {
  display: flex;
  width: 100%;
  justify-content: center;

}

@media screen and (max-height: 1135px) {
.home-right-bottom .home-right-bottom-list-headers {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 15px);
}
}