.home-right {
  height: calc(100dvh - 40px);
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-1);
  gap: 20px;
  font-family: sans-serif;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-1) #37373800;
  padding-right: 20px;
}

.home-right::-webkit-scrollbar {
  width: 10px;
}

.home-right::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.home-right::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, var(--color-1), #3f37c9);
  border-radius: 10px;
  border: 2px solid #1e1e2f;
}

.home-right::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, var(--color-1), #4f46e5);
}

.home-right-top {
  display: flex;
  width: 100%;
  height: 330px;
  gap: 20px;
}

.home-right-top .home-right-top-container {
  background-color: var(--bg-2);
  padding: 20px 10px;
  border-radius: 32px;
  border: var(--border-1);
  width: calc(100% - 20px);
}

.home-right-top .highlighted-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px
}

.home-right-top .highlighted-projects-container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-right-top .highlighted-projects-container h2 {
  margin-bottom: 16px;
}

.home-right-top .highlighted-projects-container div a {
  color: inherit;
  height: fit-content;
}

.home-right-top .highlighted-projects div {
  width: calc(50% - 12px);
  height: calc(330px/2 - 67px);
  border: var(--border-1);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
  position: relative;
}

.home-right-top .highlighted-projects div .highlighted-projects-name {
  background-color: var(--bg-2);
  padding: 5px 10px;
  position: relative;
  border-radius: 60px;
  transition: transform 0.5s ease, background-color 0.5s ease;
}

.home-right-top .highlighted-projects div .highlighted-projects-name.hovered {
  transform: translateY(-50px);
}

.home-right-top .highlighted-projects div .highlighted-projects-img {
  height: 0;
  width: 0;
  border-radius: 50%;
  transition: all 0.5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-right-top .highlighted-projects div .highlighted-projects-img.hovered {
  height: 75px;
  width: 75px;
}

.home-right-middle {
  display: flex;
  width: 100%;
  gap: 20px;
}

.home-right-middle-container {
  background-color: var(--bg-2);
  padding: 20px 10px;
  border-radius: 32px;
  border: var(--border-1);
  width: 100%;
  display: flex;
  flex-direction: column;
}

.home-right-bottom {
  display: flex;
  width: 100%;
  gap: 20px;
}

.home-right-bottom .home-right-bottom-container {
  background-color: var(--bg-2);
  padding: 20px 10px;
  border-radius: 32px;
  border: var(--border-1);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-right-bottom .home-right-bottom-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: auto;
  flex-direction: column;
}

.home-right-bottom .home-right-bottom-list-headers {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.home-right-bottom .home-right-bottom-list-headers div {
  display: flex;
  justify-content: center;
  width: calc(100%/3 - 20px);
  border-bottom: var(--border-1);
}

.home-right-bottom .home-right-bottom-lists-lists {
  display: flex;
  justify-content: space-between;
  overflow: auto;
}

.home-right-bottom ul {
  padding: 0;
  width: calc(100%/3 - 20px);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home-right-bottom ul li {
  list-style: none;
  padding: 10px;
  border-radius: 32px;
  font-size: 15px;
  display: flex;
  gap: 10px;
}

.home-right-bottom ul li svg {
  color: var(--color-1);
}

.home-right-bottom ul li.fav {
  background-color: var(--bg-1);
  border: var(--border-2);
}

.home-right .home-right-bottom-note {
  display: flex;
  width: 100%;
  justify-content: center;

}

@media screen and (max-height: 1135px) {
  .home-right-bottom .home-right-bottom-list-headers {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 15px);
  }
}

@media screen and (max-width: 1515px) {
  .home-right-top {
    flex-direction: column;
  }


  .home-right-top {
    display: flex;
    height: fit-content;
    gap: 20px;
  }

  .home-right-bottom {
    display: flex;
    width: 100%;
    height: fit-content;
    gap: 20px;
  }

  .home-right-bottom-container{
    margin-bottom: 20px;
  }
}